<div class="container-fluid">
    <div class="row">
        <div class="col-sm-7">
          <h4>Code for Demo</h4>
          {{code-snippet name="occludable-area-example.hbs"}}
        </div>
        <div class="col-sm-5">
            <h3>Occlude Anything</h3>
        </div>
    </div>
    <div class="row">
        <h3>Demo ({{model.pages.length}} pages of 50 components)</h3>
      (switching may take a while) <button {{action "toggleStrategy"}}>{{if usePages 'occlude individual items' 'occlude pages of items'}}</button>
      <hr><br>
      {{!- BEGIN-SNIPPET occludable-area-example }}
        {{#each model.pages as |page|}}
          {{#if usePages}}
            {{#occludable-area class="grid-page"}}
              {{#each page.numbers as |item|}}
                <div class="grid-item">
                  {{number-slide item=item prefixed=true index=index}}
                </div>
              {{/each}}
            {{/occludable-area}}
          {{else}}
            {{#each page.numbers as |item|}}
              {{#occludable-area class="grid-item"}}
                {{number-slide item=item prefixed=true index=index}}
              {{/occludable-area}}
            {{/each}}
          {{/if}}
        {{/each}}
      {{!- END-SNIPPET }}
    </div>
</div>