{{#if __smIsSpaceBefore}}
  {{component loadingBeforeComponent}}
{{/if}}
{{#if vertical}}
  <div style="width: 100%; height: {{__smSpacerBeforeDim}}px;"></div>
{{/if}}
{{#each _content key='@index' as |item index|}}
  {{#collection-item
    itemTagName=itemTagName
    defaultDim=defaultDim
    alwaysUseDefaultDim=alwaysUseDefaultDim
    content=item
    index=index
    register=(action register)
    unregister=(action unregister)
    vertical=vertical
  }}
    {{#if shouldRenderList}}
      {{yield item index}}
    {{/if}}
  {{/collection-item}}
{{else}}
  {{yield to="inverse"}}
{{/each}}
{{#if vertical}}
  <div style="width: 100%; height: {{__smSpacerAfterDim}}px;"></div>
{{/if}}
{{#if __smIsLoadingSpaceAfter}}
  {{component loadingAfterComponent}}
{{/if}}
