<div class="container-fluid">
    <div class="row">
        <div class="col-sm-7">
            <div class="demo-wrapper bg-dark">
              <div class="clearfix">
              {{!- BEGIN-SNIPPET pre-render-usage-example }}
              {{#pre-render
                parent=renderIntoElement
                renderInParent=shouldRenderIntoElement
                didPreRender=(action "displayDimensions")
                class="display-inline col-xs-4"
              }}
                {{async-image
                  class="auto-size"
                  src=(if attrs.imageSrc attrs.imageSrc attrs.imagePlaceholder)
                  alt=attrs.imageAlt
                  title=attrs.imageTitle
                }}
              {{/pre-render}}
              <div id="renderIntoMe1"
                   style="width: 100px; height: 100px;"
                   class="display-inline"></div>
              <div id="renderIntoMe2"
                   style="width: 75px; height: 75px;"
                   class="display-inline"></div>
              {{!- END-SNIPPET pre-render-usage-example }}
              </div>
              <div>
                  <h5 class="text-white">Dimensions from last Prerender</h5>
                  <pre><code>{{lastKnownDimensions}}</code></pre>
              </div>
                <button {{action "render"}}>Render</button>
                <button {{action "renderInto1"}}>Render Into 1</button>
                <button {{action "renderInto2"}}>Render Into 2</button>
                <button {{action "renderFragment"}}>Prepare</button>

            </div>
          {{code-snippet name="pre-render-usage-example.hbs"}}
        </div>
        <div class="col-sm-5">
            <h3>Pre Render</h3>
            <p>
                The pre-render component allows you to render it's contents invisibly off screen,
                receive calculations about them, and render them onto the screen when ready.
            </p>
            <p>
                The pre-render component is just a generic component combined with the pre-render
                mixin.  You can extend it, or use the mixin, to add this functionality to more
                specialized components as desired.
            </p>
            <h4>Options</h4>
            <ul>
                <li>
                    <strong>parent</strong>: the parent element within which to render (default's to itself).
                </li>
                <li>
                    <strong>renderInParent</strong>: whether render the component into it's parent.
                </li>
            </ul>

            <h4>Hooks</h4>
            <p>
                The mixin exposes several new hooks for use by consuming components.
            </p>
            <ul>
                <li>
                    <strong>didPreRender</strong>:
                </li>
                <li>
                    <strong>didMoveElement</strong>:
                </li>
            </ul>
            <h4>Special Thanks</h4>
            <p>
                This component was inspired by the mechanics of ember-wormhole and wishes to give
                a special thanks to everyone who worked on that project.
            </p>
        </div>
    </div>
</div>