{{#if __smIsLoadingAbove~}}
  {{component loadingAboveComponent}}
{{~/if}}
<div style="{{spacerAbove}}"></div>
{{#each itemsRendered key='@identity' as |item index|~}}
  {{~#if shouldRender~}}
    {{~yield item index~}}
  {{~/if~}}
{{else}}
  {{yield to="inverse"}}
{{/each}}
<div style="{{spacerBelow}}"></div>
{{#if __smIsLoadingBelow}}
  {{component loadingBelowComponent}}
{{/if}}